# Папки Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Папки сборки
bin/
obj/

node_modules/

wwwroot/lib/
VIPP.0/wwwroot/lib

# Логи
*.log

# Конфигурация
appsettings.Development.json

# Пакеты NuGet
*.nupkg
packages/

# Кэш
*.cache
